<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!<br /></p>
  <p>Foi realizada uma solicitação de troca de senha em sua conta.<br /></p>
  <p>Se você <b>NÃO SOLICITOU</b> esta troca, ignore este e-mail.<br /></p>
  <p>Se você <b>SOLICITOU</b> esta troca, clique no link abaixo para redefinir sua senha.<br /></p>
  <p>
    <a href="{{link}}">Redefinir minha senha</a>
  </p>
  <p>
    Atenciosamente,<br /><br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
